In [1]:
import pandas as pd
import selenium as se
from selenium import webdriver 
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
import requests
from bs4 import BeautifulSoup
import csv

In [3]:
#define options and set browser capabilities
options=webdriver.ChromeOptions()
options.add_argument('- -some options')

In [4]:
#create webdriver instance with options 
driver=webdriver.Chrome(options=options)

In [5]:
driver.get('https://www.myntra.com/')

In [6]:
search=driver.find_element(By.XPATH,".//input[@class='desktop-searchBar']")

In [7]:
search.send_keys("Smart Watches")

In [8]:
search.send_keys(Keys.ENTER)

In [62]:
brand=driver.find_elements(By.XPATH,".//h3[@class='product-brand']")
brands=[i.text for i in brand]
print(brands)

['pebble', 'Fire-Boltt', 'pebble', 'NOISE', 'boAt', 'pebble', 'pebble', 'boAt', 'pebble', 'Fire-Boltt', 'Fire-Boltt', 'boAt', 'pebble', 'Fire-Boltt', 'boAt', 'CMF by Nothing', 'NOISE', 'Fire-Boltt', 'NOISE', 'Fire-Boltt', 'boAt', 'pebble', 'Fire-Boltt', 'NOISE', 'Fire-Boltt', 'boAt', 'Fire-Boltt', 'boAt', 'HAMMER', 'NOISE', 'Fire-Boltt', 'pebble', 'Fire-Boltt', 'NOISE', 'Fire-Boltt', 'NOISE', 'pebble', 'NOISE', 'pebble', 'NOISE', 'boAt', 'Fire-Boltt', 'boAt', 'Boult', 'boAt', 'Fastrack', 'NOISE', 'Fire-Boltt', 'boAt', 'Timex']

In [63]:
product=driver.find_elements(By.XPATH,".//h4[@class='product-product']")
product=[i.text for i in product]
print(product)

['Celia 1.32" Display SmartWatch', 'Starlight Bluetooth Smartwatch', 'Women 1.27" Smart Watch', 'Fit Posh Smartwatch', 'Ultima Prism Smart Watch', 'Cosmos Quest Smartwatch', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Unisex Wave Genesis Smartwatch', 'Women 1.27" Smart Watch', 'Hulk 1.78 inch Smartwatch', 'Eclipse Luxe 1.43" Amoled', 'Ultima BT Calling Smartwatch', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Hurricane Smartwatch', 'Unisex Ultima Prism Smartwatch', 'Watch Pro', 'Fit Posh Smartwatch', 'Eclipse Luxe 1.43" Amoled', 'Mettle EliteEdition Smartwatch', 'Rock AMOLED Display Smartwatch', 'Lunar Connect Ace', 'Celia 1.32" Display SmartWatch', 'Aura BT Calling Smartwatch', 'ColorFit Icon 2 Smartwatch', 'Crusader Amoled 1.43BT Calling', 'Storm Plus AMOLED Smart Watch', 'Hurricane Smartwatch', 'Unisex Wave Genesis Smartwatch', 'Unisex Pulse 2.0 Smart Watch', 'NoiseFit Evolve 3 Smartwatch', 'Hulk 1.78 inch Smartwatch', 'Hive 1.39" Display Smart Watch', 'Hurricane Smartwatch', 'ColorFit Icon 2 Smartwatch', 'Cobra AMOLED Smart Watch', 'ColorFit Pro 5 Smartwatch', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Color Fit Loop Smartwatch', 'BT Calling Luxury Smartwatch', 'Fit Posh Smartwatch', 'Unisex Ultima Prism Smartwatch', 'Commando BT Calling Smartwatch', 'Lunar Mirage Smartwatch', 'Striker Pro Smart Watch', 'Enigma Z40 Smartwatch', 'FS2 BT Calling Smartwatch', 'ColorFit Vision 3 Smartwatch', 'Supernova Bluetooth SmartWatch', 'Enigma X400 Smartwatch', 'iConnect Gen+ Smart Watch']

In [64]:
price=driver.find_elements(By.XPATH,".//span[@class='product-discountedPrice']")
price=[i.text for i in price]
print(price)

['Rs. 1599', 'Rs. 2299', 'Rs. 1799', 'Rs. 2349', 'Rs. 2499', 'Rs. 1599', 'Rs. 1899', 'Rs. 2299', 'Rs. 1799', 'Rs. 1799', 'Rs. 1899', 'Rs. 1599', 'Rs. 1700', 'Rs. 2349', 'Rs. 3499', 'Rs. 1799', 'Rs. 1999', 'Rs. 2249', 'Rs. 3199', 'Rs. 1999', 'Rs. 2299', 'Rs. 1999', 'Rs. 1799', 'Rs. 1899', 'Rs. 1899', 'Rs. 1850', 'Rs. 1899', 'Rs. 1849', 'Rs. 2449', 'Rs. 1799', 'Rs. 1699', 'Rs. 1899', 'Rs. 1799', 'Rs. 1899', 'Rs. 3999', 'Rs. 1599', 'Rs. 2499', 'Rs. 1999', 'Rs. 1799', 'Rs. 2599', 'Rs. 2499', 'Rs. 1599', 'Rs. 2499', 'Rs. 4799', 'Rs. 1999', 'Rs. 3499', 'Rs. 1899', 'Rs. 4899', 'Rs. 2527']

In [73]:
df=pd.DataFrame(columns=["Brands","Desc","price"])
df

Empty DataFrame
Columns: [Brands, Desc, price]
Index: []

In [74]:
df['Brands']=brands[0:20]
df['Desc']=product[0:20]
df['price']=price[0:20]

df

            Brands                                      Desc     price
0           pebble            Celia 1.32" Display SmartWatch  Rs. 1599
1       Fire-Boltt            Starlight Bluetooth Smartwatch  Rs. 2299
2           pebble                   Women 1.27" Smart Watch  Rs. 1799
3            NOISE                       Fit Posh Smartwatch  Rs. 2349
4             boAt                  Ultima Prism Smart Watch  Rs. 2499
5           pebble                   Cosmos Quest Smartwatch  Rs. 1599
6           pebble  Cosmos Ultra 1.91" BT Calling Smartwatch  Rs. 1899
7             boAt            Unisex Wave Genesis Smartwatch  Rs. 2299
8           pebble                   Women 1.27" Smart Watch  Rs. 1799
9       Fire-Boltt                 Hulk 1.78 inch Smartwatch  Rs. 1799
10      Fire-Boltt                 Eclipse Luxe 1.43" Amoled  Rs. 1899
11            boAt              Ultima BT Calling Smartwatch  Rs. 1599
12          pebble  Cosmos Ultra 1.91" BT Calling Smartwatch  Rs. 1700
13      Fire-Boltt                      Hurricane Smartwatch  Rs. 2349
14            boAt            Unisex Ultima Prism Smartwatch  Rs. 3499
15  CMF by Nothing                                 Watch Pro  Rs. 1799
16           NOISE                       Fit Posh Smartwatch  Rs. 1999
17      Fire-Boltt                 Eclipse Luxe 1.43" Amoled  Rs. 2249
18           NOISE            Mettle EliteEdition Smartwatch  Rs. 3199
19      Fire-Boltt            Rock AMOLED Display Smartwatch  Rs. 1999

In [85]:
df.to_csv("myntra.csv")